// body {
//   background-color: #fbc547;
//   color: #333;
//   font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
//     "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
//     "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
//     "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
//   padding: 18vh 1rem;
//   text-align: center;
// }
//
// a {
//   color: rgba(#000, 0.7);
//
//   &:focus,
//   &:hover {
//     color: rgba(#000, 0.6);
//   }
// }
//
// .middleman-logo {
//   margin-bottom: 1rem;
//   width: 10rem;
// }

$font-size-base: 1rem;

$body-background: #333;
$content-background: #fff;
$panel-gutter: 15px;

$link-color: black;

@import './variables';
@import 'bootstrap';
@import './bootswatch';
@import './icons';
@import './blog';
@import './instructors';

body {
  background-color: $body-background;
}

nav.main {
  background-color: $content-background;
}

.social-links {

  i {
    font-size: 200%;
  }
}

.background-lg {
  // background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  height: 400px;
  width: 100%;
}

.content {
  padding: 20px 0;
  background-color: $content-background;

  &.has-background {
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    padding-top: 400px;

    .container {
      background: #ffffffc4;
      color: black;
      padding: 30px;
    }
  }
}

.quotes {
  padding: 10px 0;
  background: lighten($body-background, 5%);
  // color: #fff;

  blockquote {
    margin: 0;
  }
}

footer.last {
  background-color: #333;
  padding: 20px 0;

  img {
    max-width: 100%;
  }
}

.navbar-collapse {

  &.collapse, &.collapsing {

    .navbar-nav .nav-item + .nav-item {
      margin-left: 0;
    }
  }
}

.card-img-overlay {
  background: rgba(0, 0, 0, 0.6);
}

.carousel-inner .carousel-item .image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

@include media-breakpoint-down(xs) {

  .navbar.main {

    a {
      white-space: normal;
      margin-right: 0;

      img {
        display: block;
      }
    }
  }

  .card-deck {

    .card + .card {
      margin-top: $panel-gutter;
    }
  }

  .content {

    &.has-background {
      padding: 0;

      .container {
        padding: 15px;
      }
    }
  }

  // footer {
  //
  //   .card {
  //     margin-bottom: 10px;
  //   }
  // }
}

@include media-breakpoint-down(md) {

  .background-lg {
    height: 200px;
  }

  footer {

    blockquote {
      margin: $panel-gutter 0;
      text-align: center;
    }

    img.logo-lg {
      display: block;
      margin: $panel-gutter auto 0 auto;
    }
  }
}
