---
background: 'dojo.jpg'
title: Dojo
quote:
  text: You are all making sacrifices to train here. You are gaining this knowledge first-hand. You should all be proud that you are representing the Bujinkan.
  by: Soke Hatsumi Masaakii
---

%p= lorem.sentences 5
%p= lorem.sentences 5
%p= lorem.sentences 5
