---
background: 'dojo.jpg'
title: Dojo
quote:
  text: You are all making sacrifices to train here. You are gaining this knowledge first-hand. You should all be proud that you are representing the Bujinkan.
  by: Soke Hatsumi Masaakii
---

%p= We are a small, friendly dojo our students behave with respect and courtesy, making every training session enjoyable for all
%p= We can be found on Mondays and Wednesdays in the hall of Westlea Primary School in Swindon.
%p= You can find the map location and training times below
