#carousel.carousel.slide.carousel-face{ data: { ride: 'carousel' } }
  %ol.carousel-indicators
    %li.active{ data: { target: '#carousel', slide_to: '0' } }
    - 10.times do |i|
      %li{ data: { target: '#carousel', slide_to: i + 1 } }

  .carousel-inner
    .carousel-item.active
      .image{ style: 'background-image: url(/images/gallery/dojo.jpg)' }
    .carousel-item
      .image{ style: 'background-image: url(/images/gallery/kids-training.jpg)' }
    .carousel-item
      .image{ style: 'background-image: url(/images/gallery/kids-training-2.jpg)' }
    .carousel-item
      .image{ style: 'background-image: url(/images/gallery/kids-training-3.jpg)' }
    .carousel-item
      .image{ style: 'background-image: url(/images/gallery/simon.jpg)' }
    .carousel-item
      .image{ style: 'background-image: url(/images/gallery/chicken-soup.jpg)' }
    .carousel-item
      .image{ style: 'background-image: url(/images/gallery/training.jpg)' }
    .carousel-item
      .image{ style: 'background-image: url(/images/gallery/training-2.jpg)' }
    .carousel-item
      .image{ style: 'background-image: url(/images/gallery/training-3.jpg)' }
    .carousel-item
      .image{ style: 'background-image: url(/images/gallery/training-4.jpg)' }
    .carousel-item
      .image{ style: 'background-image: url(/images/gallery/dojo-1.jpg)' }

  %a.carousel-control-prev{ href: '#carousel', role: 'button', data: { slide: 'prev' } }
    %span.carousel-control-prev-icon
    %span.sr-only Previous

  %a.carousel-control-next{ href: '#carousel', role: 'button', data: { slide: 'next' } }
    %span.carousel-control-next-icon
    %span.sr-only Next
