---
background: 'background.jpg'
title: Ninjutsu
quote:
  text: "What I want you to do is just take it as it is. Don't think too much. If you get involved with thinking about it, the whole thing gets lost or loses its purity. Don't think during practice - DO! The more you think, the further from the truth of budo you get: Budo is NOT an academic subject!"
  by: Soke Hatsumi Masaaki
---

.row
  .col-md-4
    .card
      .card-body
        %h4.card-title The Nine schools that make up the Bujinkan Dojo
      %ul.list-group.list-group-flush
        %li.list-group-item Togakure Ryu Ninpo
        %li.list-group-item Koto Ryu Koppojutsu
        %li.list-group-item Gyokko Ryu Koshijutsu
        %li.list-group-item Kukishinden Happo Biken
        %li.list-group-item Takagi Yoshin Ryu Jutaijutsu
        %li.list-group-item Kumogakure Ryu Ninpo Happo Biken
        %li.list-group-item Gyokushin Ryu Ninpo Happo Biken
        %li.list-group-item Shinden Fudo Ryu Dakentaijutsu
        %li.list-group-item Gikan Ryu Koppojutsu

  .col-md-8
    :markdown

      Hatsumi was born in Noda City, Chiba Prefecture, Japan on December 2, 1931. Dr. Hatsumi graduated from Meiji University of Medicine in Tokyo, as a Home Tzugi (Osteopathic Doctor) with a major in theatre studies.
      He is respected as an accomplished practitioner of the ancient Japanese medical techniques of Seikotsu ( natural healing ), in addition Dr. Hatsumi is an accomplished artist of brush and ink, in the Nihonja style.
      His art work has been exhibited in the Nagai Gallery of Tokyo and in Paris, France

      Dr. Masaaki Hatsumi is the Head or Soke of the Bujinkan Dojo. Dr. Hatsumi teaches both Japanese and Western students in Japan. Many students of the Bujinkan Dojo travel to Noda City, Japan to train with Sensei
      and the Master Teachers. The Master Teachers or Shihan's are Sensei's personal students who have been studying Ninjutsu under the Grandmaster's guidance for the past 40 years
